html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: Poppins, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    color: black;
    background-color: #121212;
}

.container--full-view-port {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    margin: 0;
}

.container{
    width: 80vw;
}

.container input {
    width: 600px;
    margin: 10px;
    background-color: #121212;
    border-radius: 0;
    border: 1px solid cyan;
}

.container input:focus {
    background-color: #121212;
    color: cyan;
}

.container input::placeholder {
    color: cyan;
}

.container button {
    width: 100px;
    padding: 10px;
    font-size: 13px;
    margin: 0 10px;
    color: black;
    background-color: cyan;
    border-radius: 0;
    border: none;
}

.container button:focus {
    background-color: cyan;
    color: black;
    border: none;
}

.box{
    padding: 10px;
    background-color: cyan;
    width: 840px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.deleteBtn {
    background-color: red !important;
    color: white !important;
    font-size: 10px !important;
    height: fit-content !important;
    width: fit-content !important;
    padding: 7px 15px !important;
}